{% extends 'base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block body %}

    {{ include('site/cadre.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_site_index') }}">
        <img src="{{asset('images/previous.png')}}" width="35" title="retour" alt="retour"/>
    </a>

    {{ include('site/_delete_form.html.twig') }}
{% endblock %}
