{% extends 'base.html.twig' %}

{% block title %}Nouveau Site{% endblock %}

{% block body %}
    {{ include('site/cadre.html.twig') }}
   <!-- <a href="{{ path('app_site_index') }}">back to list</a>-->
{% endblock %}
