{% extends 'base.html.twig' %}

{% block title %}Groupage index{% endblock %}

{% block body %}
    <h1>Groupage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupage in groupages %}
            <tr>
                <td>{{ groupage.id }}</td>
                <td>
                    <a href="{{ path('app_groupage_show', {'id': groupage.id}) }}">show</a>
                    <a href="{{ path('app_groupage_edit', {'id': groupage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_groupage_new') }}">Create new</a>
{% endblock %}
