<div class="row">
    <div class="col-6">
        <div style="overflow:hidden;" class="p-5">
            <img src="{{image}}" width="500" alt="golden_image">
        </div>
    </div>
    <div class="col-6">
        <div class="row p-5">
            <div class="col-12">
                <h2 class="golden-color m-3 mb-5">{{titre}}</h2>
    {{ include(formulaire) }}

     </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    
                </p>
            </div>
    </div>
</div>